body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  .game {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .board-row:nth-child(-n+2) .square{
    border-bottom: 5px solid #9b5de5;
  }

  .board-row :not(:last-child) {
    border-right: 5px solid #9b5de5;
  }
  
  .status {
    margin-bottom: 30px;
    color: #f15bb5;
    font: 25px 'Roboto', sans-serif;
  }

  .status span {
    font-size: 35px;
  }
  
  .square {
    background: #fff;
    float: left;
    font-size: 90px;
    font-family: 'Permanent Marker', cursive;
    line-height: 90px;
    height: 100px;
    width: 100px;
    border: none;
  }
  
  .square:focus {
    outline: none;
  }

  .square:hover {
    background-color: rgba(231,211,135,0.2);
  }

  
  .game-info {
    margin-left: 20px;
    width: 300px;
  }
  