body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  .game {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 70px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }

  .square:hover {
    background-color: rgba(231,211,135,0.2);
  }

  
  .game-info {
    margin-left: 20px;
    width: 300px;
  }
  